.SquareClickedNoBomb, .SquareClickedBomb, .SquareNotClicked {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
  }

.SquareClickedBomb {
  background-color: red;
}

.SquareClickedNoBomb {
  background-color: grey;
}

.SquareNotClicked {
  background-color: white;
}